logs/*
*.log
*.out

*.slrm

__pycache__
.DS_Store
.vscode/

.ipynb_checkpoints
*.pth
Untitled.ipynb
scratch/
wandb/
data/*
plots/*
file_fix/
dev_notebook/
.tmp

.venv/
lorahub_eval/
outputs/
lorahub_qwen/*.csv

hf_token.txt
wandb_token.txt
